@import "tailwindcss";

@utility content-empty {
  --tw-content: "";
  content: var(--tw-content);
}

@utility decoration-only {
  pointer-events: none;
  user-select: none;
}

@utility grid-cols-trick {
  @apply grid-cols-[auto_var(--wrapper-width)_auto];
}

:root {
  --wrapper-padding: 2rem;
  --wrapper-width: min(calc(theme(breakpoint.xl) - var(--wrapper-padding) * 2), 100dvw);

  @media (width < theme("breakpoint.xl")) {
    --wrapper-padding: 1rem;
  }
}

@layer components {
  .wrapper {
    display: grid;
    grid-template-columns: var(--wrapper-padding) var(--wrapper-width) var(--wrapper-padding);
    justify-content: center;
    > * {
      grid-column: 2;
    }
  }
}

@theme inline {
  --spacing-wrapper: var(--wrapper-width);
}
