@import "tailwindcss";

@utility content-empty {
  --tw-content: "";
  content: var(--tw-content);
}

@utility decoration-only {
  pointer-events: none;
  user-select: none;
}

@utility z-top {
  z-index: 9999;
}

@utility z-top-* {
  z-index: calc(9999 + --value(integer));
}

:root {
  --wrapper-padding: 2rem;
  --wrapper-width: min(theme("breakpoint.xl"), calc(100dvw - var(--wrapper-padding) * 2));

  @media (width < theme("breakpoint.lg")) {
    --wrapper-padding: 1rem;
  }
}

@layer components {
  .wrapper {
    display: grid;
    grid-template-columns: var(--wrapper-padding) var(--wrapper-width) var(--wrapper-padding);
    justify-content: center;
    > * {
      grid-column: 2;
    }
  }
}

@theme inline {
  --spacing-wrapper: var(--wrapper-width);
}

/*  */

@utility fs-* {
  font-size: calc(--value(number, [number]) * 1rem / 4);
}